{% extends 'base.html.twig' %}

{% block title %}Mon compte - La Boutique Française{% endblock %}

{% block content %}
<h1>Mon compte</h1>
Bienvenue {{ app.user.firstname }} Dans votre Espace personnel.


{% endblock %}
